.App {
	margin-top: 0px;
	text-align: center;
	/* background: #091921; */
}

.bg-img {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	filter: blur(3px);
	min-height: 100vh;
	background-image: url(img/paris.gif);
	background-repeat: no-repeat;
	background-size: cover;
}
.smartphone {
	position: relative;
	width: 360px;
	height: 640px;
	margin: auto;
	border: 16px rgb(0, 0, 0) solid;
	border-top-width: 60px;
	border-bottom-width: 60px;
	border-radius: 36px;
}

/* buat horizontal line di atas gambar device */
.smartphone:before {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 10px;
}

/* buat gambar lingkaran setelah gambar device */
.smartphone:after {
	content: '';
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 50%;
	bottom: -65px;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
	width: 360px;
	height: 640px;
	background: white;
}

.Output input {
	height: 220px;
	justify-content: flex-end;
	background-color: rgb(255, 255, 255);
	width: 100%;
	font-size: 50px;
}

.calc-body {
	max-width: 400px;
	margin: auto;
}

.Buttons {
	display: block;
	background-color: white;
}

.Buttons button {
	width: 25%;
	height: 60px;
	font-size: 25px;
	background-color: white;
}